{{>partials/header}}
    <h1>Cadastro</h1>
    <form action="" method="POST">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" >
        <br><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" >
        <br><br>
        <label for="password">Senha:</label>
        <input type="password" id="password" name="password" >
        <br><br>
        <button>Enviar form</button>
    </form>
{{>partials/footer}}